.container {
    width: 1280px;
    margin: 0 auto;
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.header {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    
}
.page-title {
    margin-top: 60px;
    margin-bottom: 40px;

}

.title {
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
    

}
.titile_color {
    color: #4BCAFF;
}

.nav {
     

}

.nav__item {
    

}


.nav--link {
    display: flex;
    justify-content: center;
    background-color: #35444F;
    height: 69px;
    align-items: center;
   
    
}

.nav__items {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding:   40px;
    color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;;

}

 .nav__items:hover{
    background: #222F3A;
    text-decoration: none;
   
    
}

.sidebar {
    float: left;
    
}

.sidebar__item {
    margin-top: 50px;
    border: 1px solid #000000;
    width: 344px;
    height: 399px;
    
}

.sidebar__items {
    display: block;
    text-align: left;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    padding: 30px 80px 40px 40px;
    
}

.sidebar__item a:hover {
    background-color: #DBDBDB;
    padding-left: 70px;
    color: #000000;
    
}

.main {
    

    
}

.top_main_img {
    margin: 50px 0 40px 50px;
    width: 885px;
    height: 529px;
    transition: 1s;
}

.top_main_img:hover {
    transform: scale(1.2);
}

.main_content {
    margin: 0 50px 30px 400px;
    
}

.main_discription {
    width: 885px;
    height: 120px;
    margin-bottom: 30px;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
}


.footer-links {
    width: 875px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
}

.footer__link {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    height: 69px;
    display: flex;
    align-items: center;
    color: #0C1927;
    
}

.footer__link:hover {
    text-decoration: underline;
    color: #3181A6;
}

.copyright {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #010101;
    margin-right: 40px;
}

