body {
  width: 100%;
  height: 100%;
}

/* Container */
.container {
  width: 100%;
  height: 100%;
  margin: auto;
  background-image: url(../img/Layer\ 1\ 5.png);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

/* Header */

.header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background: rgba(94, 93, 88, 0.6);
}

.header_container {
  font-family: "Montserrat";
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_logo {
  display: flex;
  align-items: center;
  padding: 26px 0;
}

.title_logo {
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #ffffff;
  margin-left: 6px;
}

.title_second_word {
  /* font-family: "Montserrat"; */
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #18cfab;
}

.nav_header {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav_item {
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 21px;
}

.nav_item:hover {
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
}

/* main */
/* home page */
.home_page {
  font-family: "Montserrat";
}

.home_discription {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 251px 0 243px 0;
}

.text_home {
  color: #ffffff;
}

.titile_home {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 22px;
}

.secod_words_title_home {
  color: #18cfab;
}

.home_page_creat {
  font-weight: 700;
  font-size: 78px;
  text-transform: uppercase;
  color: #ffffff;
}

.creat_text {
  color: #d4d4d4;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  margin-bottom: 122px;
}

.btns_home {
  display: flex;
}

.btns_home a {
  width: 165px;
  font-weight: 700;
  background-color: #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  padding-top: 5px;
  font-size: 15px;
}

.btn_explore {
  margin-right: 26px;
}

.explore {
  border-radius: 4px;
  padding: 14px 10px 16px 11px;
  background-color: #18cfab;
}

.purchase {
  background-color: #00cbf6;
  padding: 14px 10px 16px 11px;
  border-radius: 4px;
}

/* Options */

.options {
  display: flex;
  font-family: "Montserrat";
}

.option_item:nth-child(odd) {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 87px;
  padding-bottom: 97px;
  color: #18cfab;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: #1c2a33;
  text-transform: uppercase;
}

.option_item:nth-child(even) {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 87px;
  padding-bottom: 97px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: #18cfab;
  text-transform: uppercase;
}

.img_item_option_odd {
  margin-bottom: 48px;
  width: 57px;
  height: 97px;
}

.img_item_option_even {
  margin-bottom: 65px;
  width: 93px;
  height: 75px;
}

/* Services */

.services {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  padding-bottom: 91px;
}

.wrapper_services {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1160px;
  font-family: "Montserrat";
}

.our_services {
  margin-top: 90px;
  margin-bottom: 24px;
}

.text_title_services {
  color: #4e4e4e;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.items_services {
  width: 100%;
}

.item_services {
  display: flex;
  align-items: center;
  margin-top: 69px;
}

.services_item {
  width: calc(100% / 6);
  position: relative;
  padding: 28px 0 28px 0;
  background: #f8fcfe;
  border: 1px solid #edefef;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  cursor: default;
  color: #717171;
}

.services_item img {
  position: absolute;
  top: 75px;
  right: 85px;
}

.services_item.active .reactangle {
  display: flex;
}

.reactangle {
  display: none;
}

.services_item:hover {
  border: 1.5px solid #18cfab;
}

.conten_services {
  margin-top: 13px;
  width: 1160px;
  /* display: flex; */
}

.discription_services:first-child {
  display: flex;
}
.discription_services {
  display: none;
}

.item_content {
  margin-left: 13px;
  font-weight: 300;
  font-size: 14px;
}

.img_services img {
  width: 192px;
  height: 139px;
}

.active {
  background: #18cfab;
  border: 1.5px solid #18cfab;
}

/* Purchase Now */

.purchase_now {
  background-position: 50% 50%;
  background-image: url(../img/buy_now_main_bg/Layer\ 21\ 1.png);
  font-family: "Montserrat";
}

.content_purchase {
  width: 1160px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 128px;
}

.text_title_purchase {
  padding-top: 125px;
  padding-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #18cfab;
}

.description_purchase {
  padding-bottom: 62px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #d8d8d8;
}

.pupurchase_now_text_btn {
  background-color: #18cfab;
  padding: 14px 10px 16px 11px;
  border-radius: 4px;
}

/* Work */

.work {
  width: 100%;
  background: #e9edef;
}

.work_wrapper {
  width: 1160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: "Montserrat";
}

.title_work {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #4e4e4e;
  padding: 95px 0 20px 0;
}

.tab_work {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 65px;
}

.item_work_tab {
  cursor: pointer;
  text-align: center;
  padding: 15px 15px 15px 15px;
  border: 1px solid #dadada;
  font-style: normal;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.0001);
  font-size: 14px;
  color: #717171;
}

.item_work_tab:hover {
  border: 1px solid #18cfab;
  color: #18cfab;
}

.grid_items_work {
  margin-top: 71px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.item_work_img {
  display: none;
  position: relative;
}

.item_work_img img {
  width: 100%;
  height: 100%;
}

.img_hover_work {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #e9edef;
  width: 100%;
  height: 100%;
}

.title_item_work {
  padding-top: 23px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #18cfab;
  text-transform: uppercase;
}

.discription_item_work {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #8a8a8a;
}

.img_hover_container {
  margin-bottom: 30px;
}

.item_work_img:hover .img_hover_work {
  display: flex;
}

.item_work_img:hover {
  border-top: #18cfab;
  border-radius: 1px solid #18cfab;
}

.btn_work {
  cursor: pointer;
  margin-top: 70px;
  background: #18cfab;
  position: relative;
  padding: 23px 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.text_btn_contaier {
  padding-left: 25px;
}

.btn_load_more {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: end;
  text-transform: uppercase;
  color: #ffffff;
}

.btn_work img {
  display: block;
  position: absolute;
  left: 50px;
  top: 33px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}
.lds-ring div {
  box-sizing: border-box;
  display: none;
  left: 12px;
  top: 3px;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 1px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Breaking News */

.breaking_news {
  background: #ffffff;
  width: 100%;
}

.container_breaking_news {
  margin: auto;
  width: 1160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
}

.title_breaking_news {
  margin-top: 82px;
  color: #4e4e4e;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 25px;
}

.grid_breaking_news {
  margin-top: 70px;
  margin-bottom: 128px;
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 43px;
}

.item_breaking_news {
  position: relative;
}

.data_breaking_news {
  position: absolute;
  top: 0;
  left: 192.5px;
  text-align: center;
  padding: 6px 20px;
  background: #203e38;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}

.discription_breaking_news {
  padding-left: 16px;
  padding-top: 3px;
}

.discription_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #717171;
}

.comment {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 39px;
  color: #777777;
}

.comment span {
  padding: 0 14px;
}

.item_breaking_news:hover .data_breaking_news {
  background: #18cfab;
}

.item_breaking_news:hover .discription_title {
  color: #18cfab;
}

/* client Feedback */

.client_feedback {
  background-image: url(../img/client_feedback/bg_client_feedback.png);
  background-position: 50% 50%;
}

.container_client_feedback {
  width: 1160px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";
}

.title_client_feedback {
  margin-top: 74px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 25px;
  color: #ffffff;
}

.combained_shape {
  margin-top: 66px;
}

.text_client {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 37px;
  color: #ffffff;
}

.discription_wrapper {
  display: none;
}
.active_wrapper {
  display: block;
}

.name_client {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: #18cfab;
  display: none;
}

.active-name {
  display: block;
}

.client_specialist {
  padding-bottom: 50px;
  font-weight: 300;
  font-size: 16px;
  color: #bbbbbb;
}

.photo_item {
  border: 10px solid rgba(31, 218, 181, 0.2);
  border-radius: 60%;
  display: none;
  width: 167px;
  height: 176px;
}

.photo_item img {
  width: 149px;
  height: 156px;
}

.active_img {
  display: block;
}

.next_client {
  padding: 57px 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.avatar_client {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 35px;
}

.avatar_client img {
  overflow: hidden;
  border: 6px solid rgba(31, 218, 181, 0.2);
  border-radius: 50%;
}

.next_btn_left,
.next_btn_right {
  border: 1px solid #bbbbbb;
  padding: 8px 10px;
  cursor: pointer;
}

.next_btn_left span,
.next_btn_right span {
  color: #bbbbbb;
}

.next_btn_left:hover,
.next_btn_right:hover {
  border: 1px solid #18cfab;
  background: #18cfab;
}

.next_btn_left:hover span,
.next_btn_right:hover span {
  color: white;
}

.active_avatar {
  transition: 0.2s;
  transform: scale(1.5);
}

/* Footer */

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #22353f;
  padding: 48px 0 47px 0;
}

.text_copyright {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
}
.text_copyright span {
  color: #18cfab;
}
