* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main-page {
    background-image: url(../img/background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.container {
    width: 1020px;
    margin: 0 auto;
    text-align: center;
}

.header{
    padding: 46px 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}

 .header_logo:hover {
    background-image: url(../img/logo\ 2.png);
    background-repeat: no-repeat;
    color: #F26522;
    fill: #F26522;
} 

.header_logo {
    background-image: url(../img/logo\ 3.svg);
    background-repeat: no-repeat;
    justify-content: flex-start;
    display: flex;
    align-items: center;    
}

.name-pages {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    padding: 3px 60px;
    align-items: flex-start;
}

.main-page span {
    font-size: 29px;
    line-height: 29px;
}

.contact {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: flex-end;
}

.email {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 17px;
}

.tel {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.contact .email:hover, .tel:hover {
    color: #F26522;
} 

.grid {
    margin: 0 auto;
    display: grid;
    gap: 0px 67px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-area: 
    ". . ."
    ". . .";
}

.shopping-tours {
    

}

.img {
    width: 100%;
    position: relative;
}

.discription {
    width: 100%;
    position: absolute;
    left: 2px;
    bottom: 6px;
    opacity: 0;
}

.text-discription {
    width: 300px;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 19px;
    bottom: 12px;
    align-items: flex-start;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
}

.link-discription {
    background-color: #F26522;
    width: 300px;
}

.link-discription span{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.text-discription span {
    padding-top: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.wrapper_item{
    display: inline;
    position: absolute;
    bottom: 12px;
    left: 190px;
}

.text-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    padding-top: 20px;
}

.wrapper_item::after {
    content: ">";
    border: none;
    margin-left: 16px;
}

.item-1:hover .discription,
.item-2:hover .discription, 
.item-3:hover .discription,
.item-4:hover .discription,
.item-5:hover .discription,
.item-6:hover .discription {
    transition: ease-in;
    opacity: 1;
}


.item-1:hover .text-item,
.item-2:hover .text-item,
.item-3:hover .text-item,
.item-4:hover .text-item,
.item-5:hover .text-item,
.item-6:hover .text-item {
    color: #F26522;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 15px 0;
}

.copyright {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}


