body {
    font-size: 22px;
    font-family: sans-serif;
}

.container{
    display: flex;
    align-items: center;
    height: 92vh;
    width: 100%;

}

.box{
    height: 150px;
    width: 250px;
    border-radius: 4px;
    background-color: lightblue;
    border: 1px solid black;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}