@font-face {
    font-family: Glima;
    src: url(../fonts/Circe/circe-bold.ttf);
    font-style: normal;
    font-weight: normal;

}

.container{
    display: flex;
    flex-direction: column;
    background: #171717;
    font-family: Glima;
    margin:  0 auto;
    width: 100%;
    max-width: 1920px;
    color: white;
    /* text-align: center; */
}

.wrapper {
    width: 1460px;
    margin: 0 auto;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 0 130px;
    align-items: center;
}

.logo {
    width: 216px;
    height: 33px;
}

.contact {
    display: flex;
    align-items: center;
}
.phone {
    width: 163px;
    height: 29px;
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

.phone-small a {
    color: #D6AF76;
}

a {
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: aliceblue;
}

.call-back {
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-phone {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.call_item {
    font-family: Glima;
    color: #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.main {
    width: 100%;
    max-width: 1460px;
    display: flex;  
    flex-direction: column;
    background-image: url(../img/header-bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50px;
    margin-bottom: 160px;
    
}

.main-warpper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 40px;
}

.title__main {
    display: flex;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin-bottom: 40px;
}

.discriprion__main {
    display: flex;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;  
}

.main-services {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    gap: 30px;
    grid-template-areas:
    "earthwork earthwork underground underground canalisation canalisation"
    "installation installation installation well well well"
     ;
}

.earthwork{
    grid-area: earthwork;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #634F2C;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;

}

.underground {
    grid-area: underground;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B4A385;
    font-weight: 700;
    line-height: 28px;
    font-size: 20px;
    text-align: center;
    
}

.canalisation {
    grid-area: canalisation;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E4B564;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.installation {
    grid-area: installation;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #635A4A;
    font-size: 20px;
    line-height: 28px;
}

.well {
    grid-area: well;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B08C4D;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.wrapper-technics {
    background-image: url(../img/parallax-bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50px 50px;
    padding: 5px;
}
.technics {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 90px;

}

.title-technics {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.park {
    display:grid;
    margin-bottom: 160px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 127px);
    gap: 30px;
    grid-template-areas:
    "kamaz washing backhoe"
    "kamaz washing backhoe"
    "kamaz washing onboard"
    "loader washing onboard"
    "loader excavator onboard"
    "loader excavator rink"
    "loader excavator rink"
    ;
}

.kamaz {
    grid-area: kamaz;
    background: #0E0E0E;
    display: flex;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding: 45px 110px 220px 50px;
}

.washing {
    grid-area: washing;
    background: #242424;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding: 45px 115px 345px 50px;
}

.backhoe {
    grid-area: backhoe;
    background: #1F1F1F;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    padding: 45px 120px 188px 50px;
}

.loader {
    grid-area: loader;
    background: #1F1F1F;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    padding: 56px 113px 480px 50px
}

.excavator {
    grid-area: excavator;
    background: #E4B564;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    padding: 47px 113px 333px 52px;
}

.onboard {
    grid-area: onboard;
    background: #0E0E0E;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    padding: 44px 117px 244px 48px;
}

.rink {
    grid-area: rink;
    background: #0A0909;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    padding: 44px 117px 208px 48px;
}

.wrapper-partners {
    display: flex;
    justify-content: space-between;
}

.partners {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 70px;
}

.title-partners {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.all-pojects {
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E4B564;
}
.all_items {
    color: #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.projects {
    display:grid;
    margin-bottom: 160px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 391px);
    grid-template-areas:
    "eid mabus arsenal"
    "arsenal_patner setgroup eid_partner"
    ;
}

.eid {
    grid-area: eid;
    background: #634F2C;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mabus {
    grid-area: mabus;
    background: rgba(232, 210, 171, 0.76);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.arsenal {
    grid-area: arsenal;
    background: #E4B564;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arsenal_patner {
    grid-area: arsenal_patner;
    background: #635A4A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setgroup {
    grid-area: setgroup;
    background: #B08C4D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eid_partner {
    grid-area: eid_partner;
    background: #634F2C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discription-projects {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
}
