* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

:root{
  --color-bg: #fff;
  --color-bg-hover: #01813f;
  --color-text: #434343;
  --color-bg-button: green;
  --taransition-daly:1s
}
:root[theme="dark"]{
  --color-bg: #8d8d45;
  --color-bg-hover: #5e2603;
  --color-text: white;
  --color-bg-button: #903700;
}

#toglle-theme{
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: "Ubuntu", sans-serif;
  background: var(--color-bg-button);
  color: var(--color-text);
}

#toglle-theme:hover {
  background: var(--color-bg-hover);
  transition: var(--taransition-daly);
}

body {
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
}

.main-page {
  background-image: url(../HW_7/img/Фон\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.container {
  width: 1366px;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18px 79px 18px 79px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-size: cover;
  max-width: 100%;
}

.logo .logo_wrapper {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.header-icons {
  display: flex;
  align-items: center;
  padding: 0 27px 0 0;
}

.icons_item {
  padding: 0 20px;
  color: #ffffff;
}

.header-icons::after {
  content: "|";
  text-align: center;
  margin-left: 11px;
}

.header-welcome > a {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.log_in::before,
.sign_up::before {
  margin-right: 5px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.log_in::before {
  content: "Welcome,";
}

.sign_up::before {
  content: "or";
}

.log_in:hover,
.sign_up:hover,
.logo_wrapper:hover,
.icons_item:hover {
  color: var(--color-bg-hover);
}

.main-form {
  margin-top: 54px;
  background: var(--color-bg);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  width: 444px;
  height: 584px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: var(--taransition-daly);
}

.wrapper-form {
  width: 324px;
}
.head-form {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.shape {
  position: absolute;
  top: 29px;
  left: 0;
  background-color: var(--color-bg-button);
  height: 18px;
  width: 18px;
  transition: var(--taransition-daly);
}

.sign_form {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-text);
}

.login_form {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: var(--color-text);
}

.login_form:hover {
  color: var(--color-bg-button);
}

.links-sign {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.facebook {
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background: #305db8;
  width: 157px;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook span {
  margin-left: 32px;
}
.facebook::before {
  background-image: url(../img/F.png);
}

.google {
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background: #df4a32;
  width: 157px;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google span {
  margin-left: 38px;
}

.facebook:hover {
  background: #022263;
}

.google:hover {
  background: #ab1f09;
}

.form {
  margin-top: 34px;
}

fieldset {
  display: flex;
  flex-direction: column;
  height: auto;
  border: none;
  border-top: 1px solid #f2f2f2;
}

legend {
  color: var(--color-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

legend::after,
legend::before {
  content: "";
  padding: 0 4px 0 4px;
}

input {
  color: #434343;
  outline: none;
  padding-left: 23px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  width: 324px;
  height: 44px;
  margin: 5px 0 14px 0;
}

::placeholder {
  color: #bebebe;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

input:hover {
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  cursor: pointer;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 31px;
  line-height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 2px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 2px;
  top: 4px;
  width: 16px;
  height: 8px;
  border-radius: 0px;
  border-left: 2px solid var(--color-bg-button);
  border-bottom: 2px solid var(--color-bg-button);
  -webkit-transform: rotate(-50deg);
  -moz-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-60deg);
}

input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}

.text_agree {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  margin-right: 5px;
}

.text_conditions {
  color: var(--color-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.text_conditions:hover {
  color: var(--color-bg-hover);
  text-decoration: underline;
}

.btn {
  margin-top: 20px;
}

button {
  width: 324px;
  height: 46px;
  border: none;
  background: var(--color-bg-button);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  transition: var(--taransition-daly);
}

button:hover {
  background: var(--color-bg-hover);
  border-radius: 4px;
}
